<% if current_user.is_teacher? && subject.hidden_lists.any? %>
  <% subject.hidden_lists.each do |list| %>
    <%= render partial: list, locals: { subject: subject, add_task: add_task } %>
  <% end %>
<% else %>
  <p>
    No hidden lists available.
  </p>
<% end %>