<div class = "tasks">
  <% if list.incompleted_tasks(current_user).any? %>
    <% list.incompleted_tasks(current_user).each do |task| %>
      <%= render partial: task, locals: { subject: subject, list: list } %>
    <% end %>
  <% else %>
    <% if current_user.is_student? %>
    <p class = "green">
    <em>
    Congratulations, you have done all the tasks.
    </em>
    </p>
    <% else %>
    <p><em>No tasks available.</em></p>
    <% end %>
  <% end %>
</div>