<h2><%= list.title %></h2>

<% list.incompleted_tasks(current_user).each do |task| %>
  <%= render partial: task, locals: { subject: subject, list: list } %>
<% end %>

<% if current_user.is_teacher? %>
  <%= link_to "Add Task", 
    new_subject_list_task_path(subject, list)
  %>
<% end %>
