<% if subject.unhidden_lists.any? %>
  <% subject.unhidden_lists.each do |list| %>
    <%= render partial: list, locals: { subject: subject, add_task: add_task } %>
  <% end %>
<% else %>
  <p>
    No lists available.
    <% if current_user.is_teacher? %>
      <%= link_to "Add here", new_subject_list_path(subject) %>
    <% end %>
  </p>
<% end %>