<div class = "main jumbotron">
  <div class = "center">
    <h1><%= platform_name %></h1>
    <p><%= platform_description %></p>
    <%= link_to "Sign Up", "#" , class: "btn" %>
    <%= link_to "Sign In", "homepage" , class: "btn" %>    
  </div>
</div>