<p id="<%= dom_id(task) %>">
  <% if current_user.is_student? %>
  <%= check_box_tag "task_id", task.id, false, { class: "check_done",
      task: task.id, 
      user: current_user.id} 
  %>
  <% end %>

  <span class = "task_title">
    <%= task.title %>
  </span>

  <% if current_user.is_teacher? %>
    <%= link_to subject_list_task_path(subject, list, task), class: 'delete', method: :delete, remote: true, data: { confirm: "Are you sure?"} do %>
  <% end %>
<% end %>
</p>