<div class = "col-5 margin-3.5 box box-panel single-box">

  <!-- Name -->
  <div class = "header blue-header">
    <h1><%= @task.title %></h1>
    <%= render "settings", subject: @subject, list: @list, task: @task %>
  </div>

  <div class = "section">
  </div>

</div>
 