<div class = "col-8">
  <div class = "lists box box-panel">
    <div class = "header blue-header">   
      <h2>List(s)</h2>      
    </div>
    <div class = "section">
      <% if @subject.unhidden_lists.any? %>
        <div class = "row">
        <% @subject.unhidden_lists.each do |list| %>
          <div class = "col-6">
          <%= render partial: list, locals: { subject: @subject, add_task: false } %>
          </div>
        <% end %>
        </div>
      <% else %>
        <p>
        <em>
          No lists available.
          <% if current_user.is_teacher? %>
            <%= link_to "Add here", new_subject_list_path(@subject) %>
          <% end %>
        </em>
        </p>
      <% end %>
    </div>
  </div>
</div>
<div class = "col-4">
  <div class = "lists box box-panel">
    <div class = "header blue-header">   
      <h2>Completed Tasks</h2>      
    </div>
    <div class = "section">
      <%= render "lists/completed_task_list", subject: subject, add_task: true %> 
    </div>
  </div>
</div>
