<div class = "container center-block">
  <h1>Subjects</h1>
  <p>that you enrolled in</p>
</div>


<div class="flex-row-container">
  <%= render partial: "users/subject_lists", 
           locals: { user: @student } %>
</div>
