<div class = "col-5 margin-3.5 box single_box">

  <!-- Name -->
  <% if @user.name? %>
    <h1><%= @user.name %></h1>
  <% else %>
    <p>Name unavailable, 
    <%= link_to "Edit your profile here", edit_user_path(current_user) %>
    </p>
  <% end %>
  <%= link_to "Edit profile", edit_user_path(current_user) %>

  <h2>Subjects: </h2>
  <% if @user.subjects.any? %>
    <ul class = "subjects">
      <% @user.subjects.each do |subject| %>
        <li><%= subject.title %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No subject available.</p>
  <% end %>

</div>
 