<% if current_user.is_teacher? %>
<div class = "col-4">
  <div class = "box box-panel">
    <div class = "header blue-header">
      <h2>Enrolled Students</h2>
      <%= link_to "Edit", edit_students_subject_path(subject) %>
    </div>

    <div class = "section">
      <ul class = "students">
        <% subject.users.each do |user| %>
          <% if user.is_student? %>
            <li><%= user.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>
</div>
<% end %>