<% if current_user.is_teacher? %>
<div class = "col-4">
  <div class = "box box-panel">
    <div class = "header blue-header">
      <h2>Enrolled Students</h2>
      <%= link_to "Edit", edit_students_subject_path(subject) %>
    </div>

    <div class = "section">
      <% if subject.students.any? %>
      <ul class = "students">
        <% subject.students.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      </ul>
      <% else %>
        <p><em>No students enrolled in this subject yet</em></p>
      <% end %>
    </div>

  </div>
</div>
<% end %>