<div class = "container center-block with-top-margin">
  <h1><%= @subject.title %></h1>
</div>

<div class = "flex-row-container">
  <% if current_user.is_teacher? %>
    <%= render "teachers/show_subject", subject: @subject %>
  <% else %>
    <%= render "students/show_subject", subject: @subject %>
  <% end %>
</div>

