<div class = "container center-block">
  <h1><%= @subject.title %></h1>
</div>

<div class = "flex-row-container">
  <% @subject.lists.each do |list| %>
    <div class = "col-3">
    <div class = "box">
      <%= render partial: list, locals: { subject: @subject } %>
    </div>
    </div>
  <% end %>

  
  <% if current_user.is_teacher? %>    
    <div class = "col-3">
    <div class = "box">
    <%= link_to "Add List", new_subject_list_path(@subject) %>
    </div>
    </div>
  <% end %>
</div>