<div class = "container center-block">
  <h1>Subjects</h1>
  <p>that you created</p>

  <%= link_to new_subject_path do %>
    Add
  <% end %>
</div>

<div class="flex-row-container">
  <%= render partial: "users/subject_lists", 
             locals: { user: @teacher } %>

  
  <div class = "col-3">
  <div class = "box">
    <%= link_to "Add Subject", new_subject_path %>
  </div>
  </div>

</div>

