<div class = "container center-block with-top-margin">
  <h1>Subjects</h1>
  <p>that you created</p>
  <ul class = "menu">
    <li><%= link_to "Add more subjects", new_subject_path %></li>
  </ul>
  
</div>

<div class="grid">
  <%= render partial: "users/subject_lists", 
             locals: { user: @teacher } %>
</div>

