<div class = "container center-block with-top-margin">
  <h1>Subjects</h1>
  <p>that you created</p>
  <div class="middle-menu">
    <%= link_to "Add Subject", new_subject_path %>
  </div>
</div>

<div class="grid">
  <%= render partial: "users/subject_lists", 
             locals: { user: @teacher } %>
</div>

