*, *:before, *:after {
	margin: 0;
	padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.container {
	max-width: 768px;
	padding: 12px 15px;
	margin: 0 auto;
	margin-bottom: 12px;
}

.with-top-margin {
	margin-top: 24px;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

.fluid-container {
	max-width: 100%;
}

.i-link {
	@include link-color($blue);
}

.btn {
	@include base-btn($border-radius: 25px);
	@include link-color($primary-color);

	font-size: 16px;

	border: 2px solid $primary-color;

	margin-top: 24px;

	&:hover {
		color: white;
		background-color: $primary-color;
	}
}

.alert {
	@include base-alert();
}

.notice-alert {
	@include bg-color(white, $green);
}

.alert-alert {
	@include bg-color(white, $red);
}


.form-group {
	@include base-form-group();
}

.form-control {
	@include base-text-field();
	@include box-text-field();
}

