.nav {
  @include base-nav($color: $primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  ul {    
    list-style-type: none;
    a {
      color: white;
    }

    li {    
      font-family: $primary-font;   
      text-transform: uppercase;

      &.active, &:hover { background-color: $primary-hover-color}
      &:last-child { border-color: $primary-hover-color; }
    }
  }
}

.nav-header {
  @include base-nav-header($weight: bold, $color: $primary-hover-color);
  font-size: 24px;
  

  a {
    color: white;
    font-family: $primary-font;
  }

  li {
    list-style-type: none;
  }
}

.dropdown-toggle {
  @include base-dropdown-toggle($color: white, $dark-color: #F3F6F6);
}

.dropdown {
  display: none;
}

.dash {
  width: 20px;
  height: 3px;
  margin: 3px auto;
  background-color: white;  
}

@media (min-width: 750px) {
	.nav {
		padding-left: 24px;
		width: 100%;
    flex-direction: row;

		ul {
		  li {
		    &:last-child {
		      border-bottom: none;
		    }
		  }
		}
	}

	.nav-header {
		display: flex;
    border: none;
	}

	.dropdown {
		display: flex;
	}

	.dropdown-toggle {
		display: none;
	}

}