@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Raleway');

// Font variable 
$primary-font: "Hammersmith One", sans-serif;
$secondary-font: "Raleway", sans-serif;

// Colors variable
$red: #CA2D4D;
$primary-color: #247BA0;
$primary-hover-color: #1F6B8B;
$blue: #5B98C0;
$green: #B2DBBF;
$light-text-color: #E6E6E6;

// Grid variable
$grid-spacing: 3%;