@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Raleway');

// Font variable 
$primary-font: "Hammersmith One", sans-serif;
$secondary-font: "Raleway", sans-serif;

// Colors variable
$red: #ca2d4d;
$primary-color: #247ba0;
$primary-hover-color: #1f6b8b;
$blue: #5b98c0;
$green: #4db1a0;
$light-text-color: #e6e6e6;

// Grid variable
$grid-spacing: 3%;