@import "variables";
@import "mixins";
@import "grid";
@import "typography";
@import "navigation";
@import "main";
@import "utils";
@import "static_pages";
@import "users";
@import "tasks";
@import "font-awesome";

body {
	background-color: #F6F6F6;
}

hr {
	height: 0;
  border: 0;
  border-top: 1px solid #CCCCCC;
  margin: 30px 0 30px 0;
}







