@import "variables";
@import "mixins";
@import "grid";
@import "responsive";
@import "typography";
@import "navigation";
@import "main";
@import "student_home";
body {
	background-color: #F6F6F6;
}

// Home Page
.jumbotron {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100vh;

	background-size: cover;

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 36px;
	}

	p {
		font-size: 24px;
	}
}

.main {
	background-image: image-url("main.jpg");
}

.cta {
	background-image: image-url("cta.jpg");	
}

.feature {
	display: flex;
	background-color: #FEFEFE;
	flex-direction: column;

	.center {
		width: 60%;
		color: white;
	}

	.image {
		height: 100vh;
		background-image: image-url("feature.jpg");
		background-size: cover;
		background-position: 50% 50%;
	}

}

.single_box {
	margin-top: 5%;
}

.box {
	background: white;
	border-radius: 4px;
	padding: 24px 36px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);

	color: #4C4C4C;

	a {
		color: #808080;

		&:hover {
			color: #333333;
		}
	}
}

#error_explanation {
	color: $red;
  ul {
  	padding-left: 48px;
  }
  margin-bottom: 24px;
}

.field_with_errors {
	color: $red;

	.form-control {
		border-color: $red;
	}
}

@media (min-width: 750px) {
	.feature {
		flex-direction: row;

		.center {
			color: black;
		}

		.image {
			width: 40%;
		}

		.details {
			width: 60%;
			position: relative;
		}
	}
	
}






