// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks {
  margin-bottom: 12px;
}


a.delete {
  &:before {
    @extend .fa-trash;
  }
}

a.edit {    
  &:before {
    @extend .fa-edit;
  }
}

.check_done {
  margin-right: 8px;
}

.task_title {
  flex-grow: 2;
  line-height: 1.4;  
}

[id^="task_"] {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a.icon {
    margin-left: 4px;
    visibility: hidden;
    transition: 0.4s opacity ease-in-out;
    opacity: 0;
    color: #b3b3b3;

    &:visited {
      color: #b3b3b3;
    }

    &:hover {
      color: #808080;
    }
  }

  &:hover {
    a.delete, a.edit {
      visibility: visible;
      opacity: 1;
    }
  }
}

[id^="list_"] {
  margin-bottom: 24px;
}

