<nav class="nav">
  <div class="nav-header">
    <%= platform_name %>
  </div>
  <div class="dropdown-toggle" >
    <div class="dash"></div>
    <div class="dash"></div>
    <div class="dash"></div>
  </div>
  <ul class="dropdown">
    <li>About</li>
    <li>Features</li>
    <li>Sign Up</li>
  </ul>
</nav>
