<nav class="nav">
  <div class="nav-header">
    <%= link_to platform_name, root_url %>
  </div>
  <div class="dropdown-toggle" >
    <div class="dash"></div>
    <div class="dash"></div>
    <div class="dash"></div>
  </div>
  <ul class="dropdown">
    <li>About</li>
    <li>Features</li>
    <%= link_to new_user_path do %>
      <li>Sign Up</li>
    <% end %>
  </ul>
</nav>
